<h1 class='text-center text-primary'>Subscriped Plans: </h1>
<% user_plans = user_plan %>
<% user_plans.each do |plan| %>
  <ul class='list-group'>
    <li class='list-group-item'>
      <strong class='text-primary'>Subscription Name: </strong> <%= Plan.find(plan).plan_name %>
    </li>
    <li class='list-group-item'>
      <strong class='text-primary'>Price: </strong> <%= Plan.find(plan).monthly_fee %>$
    </li>
    <li class='list-group-item'>
      <%= link_to 'Unsubscribe', buyer_subscription_path(plan), method: :delete,
                                    data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </li>
    <% Plan.find(plan).features.each do |feature| %>
      <% subscription = user_subscriptions(plan,feature) %>
      <ul class='list-group'>
        <li class='list-group-item'>
          <strong class='text-primary'>Feature Name: </strong> <%= feature.feature_name %>
        </li>
        <li class='list-group-item'>
          <strong class='text-primary'>Unit Price: </strong> <%= feature.unit_price %>$
        </li>
        <li class='list-group-item'>
          <strong class='text-primary'>Max Unit Limit: </strong> <%= feature.max_unit_limit %>
        </li>
        <li class='list-group-item'>
          <strong class='text-primary'>Consumed Units: </strong> <%= subscription.consumed %>
        </li>
        <li class='list-group-item'>
          <%= link_to 'Consume Unit', increment_consumed_unit_buyer_subscription_path(subscription), method: :patch, class:'btn btn-success consume' %>
        </li>
      </ul>
    <% end %>
  </ul>
  <br>
  <hr class='border border-primary border-3'>
  <br>
<% end %>
<div class='mb-3'>
  <% if @bill %>
    <h5 class='text-danger text-center'> Your Bill is: <%= @bill.total_bill %>$ </h5>
  <% end %>
</div>
<p class='text-center'>
<button type='button' class='btn btn-lg btn-warning mb-4' data-bs-toggle='modal' data-bs-target='#invoice'>
  View Invoice
</button>
</p>
<%= render 'shared/invoice' %>

