<ul class='list-group'>
  <li class='list-group-item'>
    <strong class='text-primary'>Feature Name: </strong> <%= feature.feature_name %>
  </li>
  <li class='list-group-item'><strong class='text-primary'>Code: </strong> <%= feature.code %></li>
  <li class='list-group-item'><strong class='text-primary'>Unit Price:</strong> <%= feature.unit_price %></li>
  <li class='list-group-item'>
    <strong class='text-primary'>Max Unit Limit:</strong> <%= feature.max_unit_limit %>
  </li>
  <li class='list-group-item'>
    <div class='btn-group' role='group' aria-label='grouping'>
      <%= link_to 'Edit Feature' , edit_admin_plan_feature_path(@plan.id, feature.id), class: 'btn btn-warning' %>
      <%= link_to 'Delete Feature', admin_plan_feature_path(@plan.id, feature.id),
                  method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
    </div>  
  </li>
</ul>
