<h1 class='text-center text-primary my-2'>Subscribed Plans</h1>
<% @subscriptions.each do |subscription| %>
  <ul class='list-group'>
    <li class='list-group-item'>
      <strong class='text-primary'>Subscription Name: </strong>
      <%= subscription.subscription_name %>
    </li>
    <li class='list-group-item'>
      <strong class='text-primary'>Monthly Fee: </strong> <%= subscription.price %>$
    </li>
    <% subscription.plan.features.each do |feature| %>
      <li class='list-group-item'>
        <strong class='text-primary'> Feature Name: </strong> <%= feature.feature_name %>
      </li>
      <li class='list-group-item'>
        <strong class='text-primary'> Unit Price: </strong> <%= feature.unit_price %>$
      </li>
      <li class='list-group-item'>
        <strong class='text-primary'> Max Unit Limit: </strong>
         <%= feature.max_unit_limit %>
      </li>
      <% consume_feature = get_consume_feature(subscription.consume_features, feature.id) %>
      <% if consume_feature %>
        <li class='list-group-item'>
          <strong class='text-primary'> Unit Cosnsumed: </strong>
          <%= consume_feature.consume_units %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <li class='list-group-item my-2'>
     <%= link_to 'Generate Bill', admin_payments_path(payment: { user_id: @buyer.id, plan_id: subscription.plan.id}), method: :create, class: 'btn btn-success'%>
  </li>
  <hr class='border border-success border-3'>
<% end %>

<p class='text-center mt-2'>
  <strong class='text-success'>Due Bill is: </strong>
  <%= due_payment(@buyer) %>$</li>
</p>
