<nav class='navbar navbar-expand-lg navbar-primary bg-primary '>
  <div class='container-fluid d-flex'>
    <%= link_to 'BMRS', buyer_plans_path, class:'navbar-brand px-2' %>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
      <div class='navbar-nav'>
        <%= link_to 'Home', buyer_plans_path, class: 'btn btn-primary nav-link ml-2' %>
        <%= link_to 'All Plans', buyer_plans_path,
                                 class: 'btn btn-primary ml-2 nav-link' %>
        <%= link_to 'Usage Track', buyer_subscriptions_path,
                                 class: 'btn btn-primary nav-link ml-2' %>
        <%= link_to 'Payment Track', buyer_payments_path,
                                 class: 'btn btn-primary ml-2 nav-link' %>
      </div>
    </div>
    <div class='justify-content-end mx-4'>
      <% if current_user.avatar.attached? %>
        <button type='button' class='btn btn-primary' data-bs-toggle='modal'
                                                      data-bs-target='#exampleModal'>
          <%= image_tag current_user.avatar, class: 'rounded-circle ', width: '40px', height: '40px' %>
        </button>
        <%= render 'shared/modal' %>
      <% end %>
      <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-warning' %>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete,
                                                 class: 'btn btn-danger' %>
    </div>
  </div>
</nav>
